:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background-color: rgb(250, 252, 244);
}

.title {
  text-align: center;
}

.form{
  padding: 20px;
  margin: 15px;
  text-align: center;
  align-items: center;
}

button{
  background-color: beige;
  border-radius: 10px;
  gap: 5px;
}

button:hover{
  background-color: rgb(240, 127, 127);
  color: beige;
}

.form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form div {
  margin-bottom: 15px;
}

.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form input[type="text"],
.form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form button {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#box{
  padding-top: 15px;
}